/*color pallete*/
.bgblue{
    background-color: #3B57BE !important;
}
.bgred{
    background-color: #DB2323 !important;
}
.bggrey{
    background-color: #D7DEED !important;
}
.bgwhite{
    background-color: #F7F9FF !important;
}
.bgpurple{
    background-color: #201C44 !important;
}
.colorblue{
color: #3B57BE !important;
}
.colorred{
    color: #DB2323 !important;
}
.colorgrey{
    color: #D7DEED !important;
}
.colorwhite{
    color:#F7F9FF !important;
}
.colorpurple{
    color:#201C44 !important;
}
/*basic styles*/
nav{
    height: 55px;
}
.btn:hover{
    background-color: rgb(69, 192, 85) !important;
    
}
.modal{
    width: 75% !important;
    max-height: 100% !important;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=mobile]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=confirm_password]:focus + label,
.input-field input[type=password]:focus + label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=mobile]:focus,
.input-field input[type=email]:focus,
.input-field input[type=confirm_password]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}

/*profile syles*/
.icon{
    width:75px;
     height:75px; 
     margin: 0;
       position: absolute;
       top: 90%;
       left: 50%;
       transform: translate(-50%, -50%); 
}
   .camera4{
     display:block;
     width:70%;
     height:50%;
     position:absolute;
     top:30%;
     left:15%;
     background-color:#000;
     border-radius:5px;
   }
   .camera4:after{
     content:"";
     display:block;
     width:15px;
     height:15px;
     border:7px solid #fff;
     position:absolute;
     top:15%;
     left:25%;
     background-color:#000;
     border-radius:15px;
   }
   .camera4:before{
     content:"";
     display:block;
     width:50%;
     height:10px;
     position:absolute;
     top:-16%;
     left:25%;
     background-color:#000;
     border-radius:10px;
   }
   #profile-upload{
       background-image:url('../assets/sample/Ironman.jpg');
       background-size:cover;
       background-position: center;
       height: 230px; width: 230px;
       border: 1px solid #bbb;
       position:relative;top:20px;
     border-radius:50%;
     overflow:hidden;
     float:none;
     margin: auto;
     
   }
   #profile-upload:hover input.upload{
     display:block;
   }
   #profile-upload:hover {
     border: 1px solid gray
   }
   #profile-upload:hover .hvr-profile-img{
     opacity:1;
    }
   .hvr-profile-img{opacity:.3;}
   #profile-upload input.upload {
       z-index:1;
       left: 0;
       margin: 0;
       bottom: 0;
       top: 0;
       padding: 0;
       opacity: 0;
       outline: none;
       cursor: pointer;
       position: absolute;
       width:100%;
       display:none;
   }
   .frm{padding:3%;}
   @media (max-width: 600px){
     #profile-upload{float:none;margin:auto;}
   }
  