@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yaldevi', sans-serif;
    color: $font-white;
}

// body{
//     background-color: $secondary-color;
// }

.title{
    color: $font-white;
}


.container{
    width: 100%;
    height: 100vh;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.intro-text{
    font-size: 46px;
    animation: rollup-text 1s ease-in ;
}

@keyframes rollup-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.navigation{
    background-color: $color-info;
    
    .nav{
        display: flex;
        justify-content: space-between;
    }
}