@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yaldevi', sans-serif;
}

body{
    background-color: $primary-color;
    animation: background-animation 10s infinite;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color: $font-white;
}

@keyframes background-animation{
    0%   {background-color: rgba($color: $primary-color, $alpha: 1.0);}
    25%  {background-color: rgba($color: $primary-color, $alpha: 0.90);}
    50%  {background-color: rgba($color: $primary-color, $alpha: 0.80);}
    75%  {background-color: rgba($color: $primary-color, $alpha: 0.90);}
    100% {background-color: rgba($color: $primary-color, $alpha: 0.95);}
}